[Unit]
Description=Auto Screen Rotation (Wayland + monitor-sensor)
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/auto_rotate.sh
Restart=always
RestartSec=1


Environment=DISPLAY=:0
Environment=XDG_SESSION_TYPE=wayland
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=default.target

